/* Dark mode background */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #191919; /* Dark background color */
  color: #CCCCCC; /* Light text color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Glowing effect on hover */
a {
  transition: color 0.3s, text-shadow 0.3s; /* Smooth transitions */
}

a:hover {
  color: #FFA500; /* Glowing text color on hover */
  text-shadow: 0 0 10px #FFA500, 0 0 20px #FFA500, 0 0 30px #FFA500; /* Glowing text shadow */
}

/* Stylish navigation */
header {
  background-color: #333;
  padding: 20px 0; /* Increased padding for better spacing */
  transition: background-color 0.3s; /* Smooth transition */
}

nav ul li a {
  color: #CCCCCC;
  text-decoration: none;
  font-weight: bold; /* Added font weight for better visibility */
}

nav ul li a:hover {
  color: #FFA500; /* Glowing text color on hover */
}

/* Stylish hero section */
.hero {
  background-color: #333; /* Dark background color */
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 48px; /* Increased font size for emphasis */
  transition: color 0.3s; /* Smooth transition */
}

.hero img {
  width: 200px;
  border-radius: 0; /* Changed border radius to square */
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Added a subtle box shadow */
  transition: box-shadow 0.3s; /* Smooth transition */
}


.hero img:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Increased box shadow on hover */
}

/* Stylish summary */
.summary {
  font-size: 18px;
  font-family: "Times New Roman", sans-serif;
  transition: color 0.3s; /* Smooth transition */
}

.summary:hover {
  color: #FFA500; /* Glowing text color on hover */
}

/* Stylish about section */
.about {
  padding: 80px 0;
  background-color: #222; /* Dark background color */
}

.about h2 {
  text-align: center;
}

.about-content h3,
.about-content p {
  transition: color 0.3s; /* Smooth transition */
}

.about-content h3:hover,
.about-content p:hover {
  color: #FFA500; /* Glowing text color on hover */
}
